.fon {
    background-color: aliceblue;
    color:blue;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
}

.img {
    background-color: brown;
    width: 500px;
    height: 400px;
    border: 5px rgb(54, 200, 21) solid;
}

.linkOnGitVideo {
    text-decoration: none;
}

.fonForLinkForGitVideo {
    background-color: chocolate; 
    padding: 15px;  
    width: 250px; 
    border-radius: 30px; 
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}