.fon {
    background-color: aquamarine;
    color: navy;
    font-size:60px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 600;
    font-variant: initial;
    font-style: italic;
    text-align: center;
}

.img {
    border: 8px rgb(139, 31, 202) solid;
}